/* Custom CSS goes here */
body {
  padding-bottom: 70px;
  background-color: rgba(0, 128, 0, 0.1);
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

